.questionsAnswer{
  color: black;
  width: 50%;
  border:1px solid black;
  height: 20%;
  margin: auto;
  margin-top: 10%;
}
.questionsAnswer h1{
  margin-left: 2%;
}
.questionsAnswer h2{
  margin-left: 2%;
}
.questionsAnswer li{
  margin-left: 2%;
}
.questionsAnswer p{
  margin-left: 5%;
}